<ion-content>
    <ion-card style="width: 250px; height: 250px;">
        <div>
            <div class="sketchfab-embed-wrapper" style="text-align: center;"> 
                <iframe 
                title="Moai" 
                frameborder="0" 
                allowfullscreen mozallowfullscreen="true" 
                webkitallowfullscreen="true" allow="autoplay; 
                fullscreen; xr-spatial-tracking" 
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
                width="250" height="250" 
                src="https://sketchfab.com/models/9b7c3a6a94dd456eac6a8eb410e3dc1a/embed?ui_theme=dark&dnt=1"> </iframe> 
            </div>
        </div>
        
    </ion-card>
    <ion-card style="width: 250px; height: 250px;">
        <div class="sketchfab-embed-wrapper" style="text-align: center;"> 
            <iframe 
            title="Moai" 
            frameborder="0" 
            allowfullscreen mozallowfullscreen="true" 
            webkitallowfullscreen="true" allow="autoplay; 
            fullscreen; xr-spatial-tracking" 
            xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
            width="250" height="250" 
            src="https://sketchfab.com/models/143d12097451493e946857593a0434a1/embed">  </iframe> 
        </div>
    </ion-card>
    <ion-card style="width: 250px; height: 250px;">
        <div class="sketchfab-embed-wrapper" style="text-align: center;"> 
            <iframe 
            title="Moai" 
            allow="autoplay; xr-spatial-tracking" 
            xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
            width="250" height="250" 
            src="https://sketchfab.com/models/48cd1c0dd3eb495f8e87079222d946e9/embed">> </iframe> 
        </div>
    </ion-card>
</ion-content>