<ion-card>
  <ion-card-header>

    <ion-card-title text-center>{{requestTitle}}</ion-card-title>
    <ion-card-subtitle>
      Description: <b>{{ requestDescription}}</b> <br>
      Requested at: <b>{{ requestCreationDate }}</b>
    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content text-center>
    Requested by: <b>{{ requesterName }}</b>
  </ion-card-content>
  <ion-card-content text-center>
    <ion-badge (color)="badgeColors[1]">{{requestStatuses[requestStatus]}}</ion-badge>
  </ion-card-content>

  <ion-card-content>

    <!--  buttons   -->
    <div class="incoming-status-buttons">
      <ion-button (click)="finishRequest()" color="success">
        START PRINTING
      </ion-button>
      <ion-button (click)="rejectRequest()">
        CANCEL
      </ion-button>
    </div>



  </ion-card-content>
  <!--ACCEPT AND DECLINE BUTTON-->
</ion-card>