<ion-app>
  <ion-split-pane contentId="main-content">

      <ion-menu [disabled]="!_loginHelper.isLoggedIn" contentId="main-content" type="overlay">
        <ion-content> 
          <!--Create Logo using image-->
          <ion-item>
            <ion-img 
            style="width: auto; height: 75px; align-items: center;" 
            src="assets/images/modaforge_logo_long.png"></ion-img>
          </ion-item>
          <ion-list id="inbox-list">
            
            <!-- <ion-list-header>Inbox</ion-list-header>
            <ion-note>hi@ionicframework.com</ion-note> -->

            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>

            <ion-item *ngFor="let label of labels" lines="none">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
        <!--User Profile-->
        <ion-footer>
          <ion-toolbar>

            <!-- PROFILE FOOTER -->
            <div id="user-profile">
              <!--Name next to avatar-->
              <ion-item>
                <ion-avatar>
                  <img id="user-profilepicture" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> 
                </ion-avatar>
                <ion-label id="profilepicture-name">
                  {{ users[0]["name"] }}
                </ion-label>
              </ion-item>
              
            </div>
            
          </ion-toolbar>
        </ion-footer>
      </ion-menu>

    <ion-router-outlet id="main-content">
      
    </ion-router-outlet>
  </ion-split-pane>
<!-- <div *ngIf="!isLoggedIn">
  <ion-router-outlet></ion-router-outlet>
</div>


</ion-app> -->

