ion-header {
    ion-toolbar {
        ion-title {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

ion-content {
    ion-card {
        .model {
            width: 100%;
        }

        ion-card-content {
            ion-button {
                width: 100%;
                margin: 10px 0;

                &.primary {
                    background-color: #3880ff;
                }

                &.secondary {
                    background-color: #0cd1e8;
                }
            }

            ion-list {
                ion-list-header {
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 20px;
                }

                ion-item {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.sketchfab
{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}