<!--
<div style="height: 100vh; width: 100%; background-color: orangered;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.8994308535184!2d4.405452851572638!3d51.22092827948892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3f6f8600f1ebf%3A0xa1b8dd7661a2d4b7!2sKipdorp%2C%202000%20Antwerpen!5e0!3m2!1snl!2sbe!4v1667677766871!5m2!1snl!2sbe" 
  width="100%" 
  height="100%" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">

</iframe>
</div>
-->

<div id="map-container">
  <div 
  class="map" 
  id="map-box" 
  tabindex="0"
  >

  </div>
</div> 