<div class="registration-form">
  <div (click)="goToSignIn()" class="rectangle signin">Sign In</div>
  <div class="rectangle register">Register</div>
  <div class="whole-form">
    <form class="form-container">
      <div class="form-group">
        <input type="text" class="form-control-item" name="name" placeholder="Name*" [(ngModel)]="name" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control-item" name="email" placeholder="Email*" [(ngModel)]="email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control-item" name="password" placeholder="Password*" [(ngModel)]="password" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control-item" name="country" placeholder="Country" [(ngModel)]="country" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control-item" name="city" placeholder="City" [(ngModel)]="city" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control-item" name="street" placeholder="Street" [(ngModel)]="street" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control-item" name="zipcode" placeholder="Zipcode" [(ngModel)]="zipcode" />
      </div>
    </form>
    <div (click)='register()' class="form-group">
      <button class="sign-in-button  ">Register</button>
    </div>
    
  </div>
</div>


<div class="image-container">
  <img  src="assets/images/modaforge_logo_square.png" id="logo" />
</div>
