ion-col {
  display: flex;
}

ion-card {
  padding: 5px;
}

.heading-style {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.sb-style
{
  text-align: center;
  width: 500px;
  margin: auto;
}