.new-row {
    clear: both;
}

.post-card {
    width: 95%; 
    padding: 5px;
    margin: 5px;
}

.sub-title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px;
}

.description {
    background-color: #353535;
    margin: 5px;
    border-radius: 5px;
    min-height: 100px;
}

.accept-button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    float: right;
}