<center><br/>Incoming Requests</center>

<!-- <app-request 
[nameModel]="'Action Figure'"
[namePrinter]="'John Doe'"
></app-request>

<app-request 
[nameModel]="'Phone Case'"
[namePrinter]="'Jane Doe'"
></app-request> -->

<!--error message-->
<p 
    *ngIf=!isApiAvailable
    style="color: red; text-align: center;"
    >API is not running.
</p>


<!--display requests-->
<div class="requests-container">
<app-request 
    *ngFor="let request of requests; index as i;" 
    [nameModel]="request.title" 
    [description]="request.description"
    style="direction: ltr;"
    >
</app-request>
</div>

<ion-button 
    class="request-btn"
    color="light"
    (click)="goToCreateRequest()"
    >Create Request</ion-button>