<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- The profile page container -->
<ion-content>

  <!-- The profile page dashboard -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>My Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="picture">
                </ion-avatar>
                <ion-label>
                  <h2>{{ name }}</h2>
                  <p>{{ email }}</p>
                </ion-label>
                <ion-button color="primary" (click)="updateProviderRole()" [disabled]="providerRole">
                  Become a Printer
                </ion-button>
                <!--<ion-item *ngIf="providerRole == false"><ion-icon color="warning" name="star" slot="start"></ion-icon> </ion-item>-->
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <!-- The dashboard requests -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Recent Requests</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <!-- <ion-item>
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>Request 1</ion-label>
                <ion-badge color="primary">Pending</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>Request 2</ion-label>
                <ion-badge color="primary">Pending</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="checkmark-circle" slot="start"></ion-icon>
                <ion-label>Request 3</ion-label>
                <ion-badge color="success">Completed</ion-badge>
              </ion-item> -->

              <!--    EACH REQUEST    -->
              <ion-item *ngFor="let i = index; let request of requests">

                <!--if ion-icon pending or accepted-->
                <ion-icon *ngIf = "request.status == 'Pending'" name="time" slot="start"></ion-icon>
                <ion-icon *ngIf = "request.status == 'Accepted'" name="time" slot="start"></ion-icon>
                <ion-icon *ngIf = "request.status == 'In Progress'" name="time" slot="start"></ion-icon>
                <ion-icon *ngIf = "request.status == 'Completed'" name="checkmark-circle" slot="start"></ion-icon>
                <ion-icon *ngIf = "request.status == 'Declined'" name="checkmark-circle" slot="start"></ion-icon>

                <ion-label>{{ request.title }}</ion-label>

                <ion-badge 
                  [color]="badgeColor[i]"
                  > {{request.status}} 
                </ion-badge>

              </ion-item>


            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>