<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- The profile page container -->
<ion-content>

  <!-- The profile page dashboard -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>My Details</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-avatar slot="start">
                  <img [src]="picture">
                </ion-avatar>
                <ion-label>
                  <h2>{{ name }}</h2>
                  <p>{{ email }}</p>
                </ion-label>
                <ion-button [color]="showSignUpForm ? 'primary' : 'success'" (click)="toggleSignUpForm()">
                  {{ showSignUpForm ? 'Close Form' : 'Sign up to become a printer' }}
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- The sign up form -->
  <ion-row>
    <ion-col size="12">
      <ion-card *ngIf="showSignUpForm">
        <ion-card-header>
          <ion-card-title>Sign up</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Service</ion-label>
              <ion-input type="text" [(ngModel)]="services"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button color="primary" (click)="createProvider(this.provider)">Submit</ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>
    <!-- The dashboard requests -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Recent Requests</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>Request 1</ion-label>
                <ion-badge color="primary">Pending</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="time" slot="start"></ion-icon>
                <ion-label>Request 2</ion-label>
                <ion-badge color="primary">Pending</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon name="checkmark-circle" slot="start"></ion-icon>
                <ion-label>Request 3</ion-label>
                <ion-badge color="success">Completed</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>