<ion-card>
  <ion-card-header>

    <ion-card-title style="font-size: 20px;" text-center>{{requestTitle}}</ion-card-title>
    <ion-card-subtitle>
      Description: <b>{{ requestDescription}}</b> <br>
      Requested at: <b>{{ requestCreationDate }}</b>
    </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content text-center>
    Requested by: <b>{{ requesterName }}</b>
  </ion-card-content>
  <ion-card-content text-center>
    <ion-badge color="medium">Pending</ion-badge>
  </ion-card-content>

  <ion-card-content>

    <!--  buttons   -->



  </ion-card-content>
  <!--ACCEPT AND DECLINE BUTTON-->
</ion-card>